id: 1
templatename: Startseite
description: ''
category: Admin
icon: icon-home
properties: 'a:0:{}'

-----

[[$htmlHeader]]

        [[$header]]
        
        <!-- imageIntro -->
        <div class="padding-top-5">
            <div class="container">
                <h2>Über uns</h2>
                <div class="imageIntro">
                    <figure>
                        <figcaption class="imageIntro__imageCaption">Swjfjhv<br>Geschäftsführer</figcaption>
                    </figure>
                    <div class="content">
                        <p>Die Firma DWS-Sanierungsservice GmbH wurde im Jahr 1997 gegründet. 
Seit der Gründung des Unternehmens und der langjähringen Erfahrungen unserer Mitarbeiter steht die Sanierung nach Brand-, Wasser-, Schimmel- und Elementarschäden im Mittelpunkt unserer Arbeit.
</p><p>
Darüber hinaus bieten wir Ihnen sämtliche Renorvierungsarbeiten, Installation, Sanierung und Reparatur von Sanitär- und Heizungsanlagen sowie klasische Klempnerarbeiten.</p>
                    </p>
                    </div>
                </div>
            </div>
        </div>
        
        [[*content]]

        [[$footer]]

		[[$scripts]]

[[$htmlFooter]]
