/* --------------------------------------------------------------------------- */
/*
/*	button
/*
/* --------------------------------------------------------------------------- */
.button {
	display: inline-flex;
	align-items: center;
	height: 48px;
	background: $colorPrimary;
	color: #fff;
	padding: 0 2em 3px;
	transition: all 0.4s ease-in-out;
	border: 0;
	appearance: none;
	font-family: $fontMedium;
	font-size: .9rem;

	&:hover {
		background: $colorFont;
		color: $colorPrimary;
	}

	@media only screen and (max-width: 400px) {
		padding: 0 1em;
	}

	&--light {
		font-family: $fontLight;
	}

	&__icon {
		display: inline-block;
		width: 1.2rem;
		height: 1.2rem;
		margin-right: .3em;
		fill: currentColor;
	}
}
