/* --------------------------------------------------------------------------- */
/*
/*	Globals
/*
/* --------------------------------------------------------------------------- */

*, *:before, *:after {
	box-sizing: border-box;
}

/* root */
:root {
	font-family: $fontRegular;
	font-size: 18px;
	color: $colorFont;
	line-height: 1.5;
}

/* Body */
body {

	&.freeze {
		overflow: hidden;
	}
}


/* Schrift & Links */
p, a {
	margin: 0;
	padding: 0;
	/*-webkit-transform: translateZ(0);*/
}

p {
	margin-bottom: 1em;
}

a {
	text-decoration: none;
	transition: all .4s;
	color: inherit;
}

strong {
	font-weight: 800;
}

/* Überschriften */
h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
	/*-webkit-transform: translateZ(0);*/
}

h2, .h2 {
	font-weight: 800;
	font-size: 1.6rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.2em;

	@media only screen and (max-width: 600px) {
		font-size: 1.3rem;
	}
}

h3, .h3 {
	font-weight: 800;
	font-size: 1.6rem;
	text-align: center;
	margin-bottom: 2.5em;
	color: $colorPrimary;
	position: relative;
	padding-bottom: 0.2em;

	&:after {
		content: "";
		border-bottom: 3px solid $colorPrimary;
		position: absolute;
		left: 50%;
		width: 120px;
		transform: translate(-50%,0);
		bottom: 0;
	}

	&.no-border:after {
		display: none;
	}

	@media only screen and (max-width: 600px) {
		font-size: 1.3rem;
	}
}

.introtext {
	font-size: 1.3rem;
	letter-spacing: 0.05em;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 3rem;
	text-align: center;

	@media only screen and (max-width: 600px) {
		font-size: 1.1rem;
	}
}

/* Container */
.container {
	max-width: 1200px;
	margin: 0 auto;

	// responsive
	@media (max-width: 1340px) {
		margin: 0 70px;
	}

	@media (max-width: 1100px) {
		margin: 0 10px;
	}
}




/* Listen */
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
