/* --------------------------------------------------------------------------- */
/*
/*	header
/*
/* --------------------------------------------------------------------------- */
.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 110;

    &__action {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2px;
        justify-content: flex-end;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: block;
        width: 284px;
        height: auto;
    }

    &__nav {
        margin-left: auto;
        text-transform: uppercase;
        padding-top: 2rem;
        font-family: $fontSemiBold;
        letter-spacing: .036em;

        ul {
            display: flex;
        }

        li {
            &:not(:first-child) {
                margin-left: 2em;
            }
        }

        a:hover,
        a.active,
        li.active a {
            color: $colorPrimary;
        }
    }

    .mobile-menu-btn {
        cursor: pointer;
        display: none;

        svg {
            display: block;
            width: 30px;
            height: 30px;
            fill: $colorPrimary;
        }
    }

    // sticky header
    &--sticky {
        position: fixed;
        background: $colorFont;
        padding: 27px 70px 20px 70px;
        transform: translate(0,-100%);
        transition: all 0.4s ease-in-out;

        &.active {
            transform: translate(0);
        }

        .logo img {
            width: 155px;
        }
    }

    // responsive
    @media (max-width: 1400px) {
        padding: 35px 20px 0 20px;

        &--sticky {
            padding: 10px 20px 10px 20px;

            .logo img {
                width: 120px;
            }
        }

        nav {
            display: none;
        }

        .mobile-menu-btn {
            display: block;
        }
    }

    @media (max-width: 500px) {
        padding: 20px 20px 0 20px;

        .logo img {
            width: 150px;
        }

        &--sticky {
            padding: 10px 20px 10px 20px;

            .logo img {
                width: 120px;
            }
        }
    }
}
