/* --------------------------------------------------------------------------- */
/*
/*	header
/*
/* --------------------------------------------------------------------------- */
.header {

    &--static {
        .header__logo {
            position: relative;

            @media (max-width: 1200px) {
                padding-bottom: .5em;
            }

            &:after {
                content: "";
                display: block;
                height: 25px;
                width: 110%;
                position: absolute;
                left: 0;
                background: #fff;
                z-index: 2;

                @media (max-width: 1200px) {
                    display: none;
                }
            }
        }
    }

    &__action {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2px;
        justify-content: flex-end;

        @media (max-width: 350px) {
            margin: 0 -20px;
            justify-content: center;
        }

        .button {
            @media (max-width: 800px) {
                font-size: .8rem;
            }
        }

        &--desktopOnly {
            font-family: $fontLight;
            display: inline-block;
            margin-right: .3em;

            @media (max-width: 700px) {
                display: none;
            }
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
    }

    &__logo  {
        width: 360px;

        @media (max-width: 700px) {
            width: 250px;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__nav {
        margin-left: auto;
        text-transform: uppercase;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: $fontSemiBold;
        letter-spacing: .036em;

        ul {
            display: flex;
        }

        li {
            &:not(:first-child) {
                margin-left: 2.5em;
            }
        }

        a:hover,
        a.active,
        li.active a {
            color: $colorPrimary;
        }
    }

    .mobile-menu-btn {
        cursor: pointer;
        display: none;

        svg {
            display: block;
            width: 30px;
            height: 30px;
            fill: $colorPrimary;
        }
    }

    // sticky header
    &--sticky {
        position: fixed;
        background: #fff;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
        transform: translate(0,-100%);
        transition: all 0.4s ease-in-out;
        padding: .7rem 0;

        &.active {
            transform: translate(0);
        }

        .header__logo img {
            width: 250px;
        }

        .header__nav {
            padding-top: 0;
        }

        .header__inner {
            padding-top: 1rem;
        }
    }

    // responsive
    @media (max-width: 1200px) {

        nav {
            display: none;
        }

        .mobile-menu-btn {
            display: block;
        }
    }
}
