/* --------------------------------------------------------------------------- */
/*
/*	logoCard
/*
/* --------------------------------------------------------------------------- */
.logoCard {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 50px;
	position: relative;
	perspective: 1000;

	&__wrapper {
		color: #fff;
		background-color: #18304b;
		padding: 3rem 70px;

		@media(max-width: 1000px) {
			padding: 2rem 30px;
		}

		@media(max-width: 700px) {
			padding: 2rem 20px;
		}
	}

	&__carousel {
		position: relative;
		padding: 0 15px; //width of arrows
	}

	&__inner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 60px;
		width: 100%;
		padding: 0 50px;
		max-width: 1250px;
		margin: 0 auto;

		@media(max-width: 1400px) {
			padding: 0 30px;
		}

		@media(max-width: 1200px) {
			grid-template-columns: 1fr 1fr;
			grid-gap: 30px;
		}

		@media(max-width: 800px) {
			grid-template-columns: 1fr;
			padding: 0 20px;
		}

		@media(max-width: 500px) {
			grid-gap: 20px;
		}
	}

	&__image {
		display: block;
		width: 100%;
		max-width: 240px;
		height: 100px;
		object-fit: contain;
		text-align: center;
	}

	&__overlay {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 215, 255,.9);
		color: lighten(#000, 30%);
		padding: 1rem;
		transform: rotateX(-90deg);
		opacity: 0;
		transition: all .4s ease;
		transform-origin: top;
		pointer-events: none;
	}

	&:hover &__overlay {
		transform: rotateY(0);
		opacity: 1;
		pointer-events: auto;
	}

	&__title {
		font-weight: 800;
		text-transform: uppercase;
		margin-bottom: .3em;
	}

	&__content {
		font-size: .8rem;
	}

}
