/* --------------------------------------------------------------------------- */
/*
/*	logoCard
/*
/* --------------------------------------------------------------------------- */
.logoCard {
	display: flex !important;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 50px;
	position: relative;
	margin: 0 30px;
	height: 220px;
	color: $colorFont;

	@media (max-width: 1200px) {
		margin: 0 15px;
	}

	&__wrapper {
		background-color: $colorPrimary;
		padding: 75px 80px 125px;
		position: relative;
		color: #fff;

		@media(max-width: 1000px) {
			padding: 75px 30px 125px;
		}

		@media(max-width: 700px) {
			padding: 50px 20px 100px;
		}

		.pagingNav__dots .slick-dots {
			bottom: 70px;
			padding: 0;

			@media(max-width: 700px) {
				bottom: 50px;
			}
		}
	}

	&__carousel {
		position: relative;
		padding: 25px 40px 0;

		@media(max-width: 700px) {
			padding: 25px 20px 0;
		}

		* {
			outline: none;
		}
	}

	&__inner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 60px;
		width: 100%;
		padding: 0 50px;
		max-width: 1250px;
		margin: 0 auto;

		@media(max-width: 1400px) {
			padding: 0 30px;
		}

		@media(max-width: 1200px) {
			grid-template-columns: 1fr 1fr;
			grid-gap: 30px;
		}

		@media(max-width: 800px) {
			grid-template-columns: 1fr;
			padding: 0 20px;
		}

		@media(max-width: 500px) {
			grid-gap: 20px;
		}
	}

	&__image {
		display: block;
		width: 100%;
		max-width: 240px;
		height: 100px;
		object-fit: contain;
		text-align: center;
	}

	&__title {
		font-family: $fontBold;
		font-size: 1.33rem;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.29;
	}

	&__link {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

}
