 /* ==========================================================================
 *
 *    CSS main
 *
 *  ========================================================================== */



/* --------------------------------------------------------------------------- */
/*
/*	Variables
/*
/* --------------------------------------------------------------------------- */

// fonts
$fontRegular: "OpenSans-Regular", sans-serif;
$fontExtraLight: "Oswald-ExtraLight", sans-serif;
$fontLight: "Oswald-Light", sans-serif;
$fontMedium: "Oswald-Medium", sans-serif;
$fontSemiBold: "Oswald-SemiBold", sans-serif;
$fontBold: "Oswald-Bold", sans-serif;

// colors
$colorPrimary: #0879f4;
$colorFont: #2b2b2b;



/* --------------------------------------------------------------------------- */
/*
/*	Vendor Imports
/*
/* --------------------------------------------------------------------------- */

@import 'normalize';
@import 'slick';
@import 'fancybox';
@import 'twentytwenty.css';




/* --------------------------------------------------------------------------- */
/*
/*	Imports
/*
/* --------------------------------------------------------------------------- */

@import 'fonts';
@import 'globals';
@import 'video-intro';
@import 'header';
@import 'social-links';
@import 'icon-teaser';
@import 'charts';
@import 'animation';
@import 'text-block';
@import 'check-block';
@import 'image-text';
@import 'contact';
@import 'form';
@import 'footer';
@import 'nav-mobile';
@import 'accordion';
@import 'padding';
@import 'pagingnav';
@import 'logocard';
@import 'worldmap';
@import 'regionpopup';
@import 'buttons';
@import 'video';
@import 'imagecompare';
@import 'imageintro';
