# MODX supports Friendly URLs via this .htaccess file. You must serve web
# pages via Apache with mod_rewrite to use this functionality, and you must
# change the file name from ht.access to .htaccess.
#
# Make sure RewriteBase points to the directory where you installed MODX.
# E.g., "/modx" if your installation is in a "modx" subdirectory.
#
# You may choose to make your URLs non-case-sensitive by adding a NC directive
# to your rule: RewriteRule ^(.*)$ index.php?q=$1 [L,QSA,NC]

RewriteEngine On
RewriteBase /



# Rewrite www.domain.com -> domain.com -- used with SEO Strict URLs plugin
# no redirect for .local host
#RewriteCond %{HTTP_HOST} .
#RewriteCond %{HTTP_HOST} !\.local$
#RewriteCond %{HTTP_HOST} !\.quadro-hosting\.de$
#RewriteCond %{HTTP_HOST} !^example-domain-please-change\.com [NC]
#RewriteRule (.*) http://example-domain-please-change.com/$1 [R=301,L]
#
# or for the opposite domain.com -> www.domain.com use the following
# DO NOT USE BOTH
#
#RewriteCond %{HTTP_HOST} .
#RewriteCond %{HTTP_HOST} !\.local$
#RewriteCond %{HTTP_HOST} !\.quadro-hosting\.de$
#RewriteCond %{HTTP_HOST} !^www\.aodigy\.com [NC]
#RewriteRule (.*) http://www.aodigy.com/$1 [R=301,L]



# Rewrite secure requests properly to prevent SSL cert warnings, e.g. prevent
# https://www.domain.com when your cert only allows https://secure.domain.com
#RewriteCond %{SERVER_PORT} !^443
#RewriteCond %{HTTP_HOST} !\.local$
#RewriteCond %{HTTP_HOST} !\.quadro-hosting\.de$
#RewriteRule (.*) https://www.aodigy.com/$1 [R=301,L]



# ----------------------------------------------------------------------
#  add trailing "/" to containers
# ----------------------------------------------------------------------

# Redirects http://www.domain.de/container to http://www.domain.de/container/
RewriteCond %{REQUEST_URI} !(/$|\.)
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]


# ----------------------------------------------------------------------
#  redirect assets
# ----------------------------------------------------------------------

# redirect all requests to /en/assets and /de/assets to /assets*
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(asia-en|asia-vn|emea-de|emea-en)/assets(.*)$ assets$2 [L,QSA]



# ----------------------------------------------------------------------
#  The Friendly URLs part
# ----------------------------------------------------------------------

# The Friendly URLs part
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]




# ----------------------------------------------------------------------
#  expire headers
# ----------------------------------------------------------------------

<IfModule mod_expires.c>
	ExpiresActive On

	# Data interchange
    ExpiresByType application/json                      "access plus 0 seconds"
    ExpiresByType application/ld+json                   "access plus 0 seconds"
    ExpiresByType application/vnd.geo+json              "access plus 0 seconds"
    ExpiresByType application/xml                       "access plus 0 seconds"
    ExpiresByType text/xml                              "access plus 0 seconds"

    # Web feeds
    ExpiresByType application/atom+xml                  "access plus 1 hour"
    ExpiresByType application/rss+xml                   "access plus 1 hour"


	#css
	ExpiresByType text/css "access plus 1 year"
	#js
	ExpiresByType application/javascript "access plus 1 year"
	ExpiresByType application/x-javascript "access plus 1 year"
	#images
	ExpiresByType image/gif "access plus 1 year"
	ExpiresByType image/jpeg "access plus 1 year"
	ExpiresByType image/png "access plus 1 year"
	ExpiresByType image/x-icon "access plus 1 year"
	#webfonts
	ExpiresByType application/x-font-ttf    "access plus 1 year"
	ExpiresByType font/opentype             "access plus 1 year"
	ExpiresByType application/x-font-woff   "access plus 1 year"
	ExpiresByType application/font-woff    "access plus 1 year"
	ExpiresByType image/svg+xml             "access plus 1 year"
	ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
</IfModule>

# ----------------------------------------------------------------------
#  Compression
# ----------------------------------------------------------------------
<IfModule mod_deflate.c>
	<FilesMatch "\.(js|jpg|jpeg|gif|png|css|svg|woff)$">
		ExpiresActive on
		ExpiresDefault "access plus 1 month"
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>
